---
target: README.md
---

{% set github = data.get('vars')['github'] -%}
{% set github_org = github['org'] -%}
{% set github_repo = github['repo'] -%}

{% set docker = data.get('vars')['docker'] -%}
{% set docker_org = docker['org'] -%}
{% set docker_repo = docker['repo'] -%}

{% set github_branch = env.get('BRANCH', 'master') -%}

# {{ data.get('vars')['heading'] }}
[![Build Status](https://travis-ci.org/{{ github_org }}/{{ github_repo }}.svg?branch={{ github_branch }})](https://travis-ci.org/{{ github_org }}/{{ github_repo }}) [![Docker Pulls](https://img.shields.io/docker/pulls/{{ docker_org }}/{{ docker_repo }}.svg)](https://hub.docker.com/r/{{ docker_org }}/{{ docker_repo }}/) [![Github Repo](https://img.shields.io/badge/contributions-welcome-brightgreen.svg?style=flat)](https://github.com/{{ github_org }}/{{ github_repo }})


## Maintainer
Joe Black | <me@joeblack.nyc> | [github](https://github.com/joeblackwaslike)


## Introduction
This container contains [goss](https://github.com/aelsabbahy/goss) and [dgoss](https://github.com/aelsabbahy/goss/tree/master/extras/dgoss) for testing docker containers


## Using this image
*See [examples](examples)*

1. Copy the `tests` directory to the base of your repository.
2. Follow directions for dcgoss, substituting `dcgoss edit` and `dcgoss run` with
   `tests/edit` and `tests/run` respectively.
3. Set your Makefile `test` target to `tests/run <docker-compose-service>`
4. `make test`
